@charset "UTF-8";
.about {
  min-height: inherit;
  display: flex;
  justify-content: center;
  color: #4C4A47;
}
.about__container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.about__container--landing {
  width: calc(80% + 50px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.about__container--landing .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  height: 200px;
  width: 300px;
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  background-image: url("../../assets/lowAngleBuildingShot.jpg");
}
.about__container--landing .title {
  font-size: 28px;
  color: #0E2841;
  width: 150px;
}
.about__container--description {
  width: calc(80% + 50px);
  font-size: 14px;
}
.about__container--description2 {
  width: calc(80% + 110px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: rgba(198, 198, 193, 0.35);
}
.about__container--description2__container {
  padding: 30px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__container--description2__container .mission {
  width: 33%;
  min-width: 150px;
}
.about__container--description2__container .mission .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description2__container .mission .description {
  font-size: 14px;
}
.about__container--description2__container .vision {
  width: 33%;
  min-width: 150px;
}
.about__container--description2__container .vision .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description2__container .vision .description {
  font-size: 14px;
}
.about__container--description2__container .values {
  min-width: 150px;
}
.about__container--description2__container .values .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description2__container .values .description {
  font-size: 14px;
}
.about__container--description2__container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #4C4A47;
}
.about__container--description2__container ul li:before {
  margin-right: 5px;
  content: "✓";
}
.about__container--description3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(80% + 50px);
  margin-bottom: 20px;
}
.about__container--description3 .lam {
  width: 33%;
  min-width: 400px;
}
.about__container--description3 .lam .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description3 .lam .description {
  font-size: 14px;
}
.about__container--description3 .li {
  width: 33%;
  min-width: 400px;
}
.about__container--description3 .li .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description3 .li .description {
  font-size: 14px;
}