@charset "UTF-8";
.about {
  min-height: inherit;
  display: flex;
  justify-content: center;
  color: #4C4A47;
}
.about__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.about__container--landing {
  width: calc(80% + 50px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.about__container--landing .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  width: 350px;
  height: 220px;
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  background-image: url("../../assets/lowAngleBuildingShot.jpg");
}
.about__container--landing .title {
  font-size: 28px;
  color: #0E2841;
  width: 150px;
}
.about__container--description {
  width: calc(80% + 50px);
  font-size: 14px;
}
.about__container--description2 {
  width: calc(80% + 110px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: rgba(198, 198, 193, 0.35);
}
.about__container--description2__container {
  padding: 30px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__container--description2__container .mission {
  width: 33%;
  min-width: 150px;
}
.about__container--description2__container .mission .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description2__container .mission .description {
  font-size: 14px;
}
.about__container--description2__container .vision {
  width: 33%;
  min-width: 150px;
}
.about__container--description2__container .vision .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description2__container .vision .description {
  font-size: 14px;
}
.about__container--description2__container .values {
  min-width: 150px;
}
.about__container--description2__container .values .title {
  color: #0E2841;
  font-size: 28px;
}
.about__container--description2__container .values .description {
  font-size: 14px;
}
.about__container--description2__container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #4C4A47;
}
.about__container--description2__container ul li:before {
  margin-right: 5px;
  content: "✓";
}
.about__container--description3 {
  display: flex;
  flex-direction: column;
  width: calc(80% + 50px);
  color: #0E2841;
  margin-bottom: 70px;
}
.about__container--description3__title {
  padding-bottom: 20px;
  font-size: 28px;
}
.about__container--description3__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.about__container--description3__content .lam {
  width: 33%;
  min-width: 400px;
}
.about__container--description3__content .lam .title {
  color: #0E2841;
  font-size: 20px;
}
.about__container--description3__content .lam .description {
  font-size: 14px;
  color: #4C4A47;
}
.about__container--description3__content .lee {
  width: 33%;
  min-width: 400px;
}
.about__container--description3__content .lee .title {
  color: #0E2841;
  font-size: 20px;
}
.about__container--description3__content .lee .description {
  font-size: 14px;
  color: #4C4A47;
}

@media (max-width: 451px) {
  .about__container--landing .img {
    width: 330px;
  }
  .about__container--description2__container .mission {
    width: 45%;
  }
  .about__container--description2__container .vision {
    width: 45%;
  }
  .about__container--description2__container .values {
    width: 45%;
  }
}
@media (max-width: 635px) {
  .about__container {
    gap: 30px;
  }
  .about__container--landing {
    width: 90%;
  }
  .about__container--description {
    width: 90%;
  }
  .about__container--description2 {
    width: 90%;
  }
  .about__container--description2__container .mission {
    width: 100%;
  }
  .about__container--description2__container .vision {
    width: 100%;
  }
  .about__container--description2__container .values {
    width: 100%;
  }
  .about__container--description3 {
    width: 90%;
    margin-bottom: 30px;
  }
  .about__container--description3__content {
    gap: 20px;
    margin: 0;
    width: 100%;
  }
  .about__container--description3__content .lam {
    width: 100%;
    min-width: 100%;
  }
  .about__container--description3__content .lee {
    width: 100%;
    min-width: 100%;
  }
}