.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 70px;
}
.services__container--landing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(80% + 50px);
}
.services__container--landing__description {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__container--landing__description .title {
  padding: 20px 20px;
  color: #0E2841;
  font-size: 28px;
  margin: 0;
  background-color: #c6c6c1;
  transform: translateX(-40px);
}
.services__container--landing__description .text {
  margin: 0;
  font-size: 14px;
  height: fit-content;
  color: #4C4A47;
  background-color: #c6c6c1;
  padding: 0 20px 20px 20px;
  z-index: 1;
  transform: translateX(-40px);
}
.services__container--landing__img {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: lightblue;
  background-blend-mode: multiply;
  background-image: url("../../assets/oldtown.jpg");
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
}
.services__container--carousel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(80% + 110px);
}
.services__container--carousel--buttons {
  display: flex;
  flex-direction: row;
  color: #0E2841;
  padding: 0 0 20px 0;
}
.services__container--carousel--buttons .highlighted {
  border-bottom: 2px solid #c6c6c1;
}
.services__container--carousel--buttons .selector {
  padding: 0 20px 0 5px;
  display: flex;
  align-items: center;
}
.services__container--carousel--buttons .selector p {
  margin: 0;
  padding: 5px 0;
}
.services__container--carousel--buttons .selector:hover {
  border-radius: 5px;
  cursor: pointer;
  color: #4C4A47;
  background-color: #c6c6c1;
}
.services__container--carousel--content--investment, .services__container--carousel--content--asset, .services__container--carousel--content--family {
  background-color: #c6c6c1;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.services__container--carousel--content--investment__img, .services__container--carousel--content--asset__img, .services__container--carousel--content--family__img {
  border-radius: 5px 0 0 5px;
  min-width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}
.services__container--carousel--content--investment__description .title, .services__container--carousel--content--asset__description .title, .services__container--carousel--content--family__description .title {
  color: #0E2841;
  padding: 20px 20px;
  font-size: 28px;
}
.services__container--carousel--content--investment__description .text, .services__container--carousel--content--asset__description .text, .services__container--carousel--content--family__description .text {
  padding: 0 20px 20px 20px;
  color: #4C4A47;
  font-size: 14px;
}
.services__container--carousel--content--investment__img {
  background-image: url("../../assets/wallcharts.jpg");
}
.services__container--carousel--content--asset__img {
  background-image: url("../../assets/charts.jpg");
}
.services__container--carousel--content--family__img {
  background-image: url("../../assets/fo.jpg");
}
.services__container--risk {
  width: calc(80% + 50px);
}
.services__container--risk__description .title {
  color: #0E2841;
  font-size: 28px;
}
.services__container--risk__description .text {
  color: #4C4A47;
  font-size: 14px;
}

@media (max-width: 450px) {
  .services__container--landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services__container--carousel {
    width: 100%;
  }
  .services__container--carousel--content--investment, .services__container--carousel--content--asset, .services__container--carousel--content--family {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}