.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 70px;

        &--landing {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: calc(80% + 50px);

            &__description {
                width: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;


                .title {
                    padding: 20px 20px;
                    color: #0E2841;
                    font-size: 28px;
                    margin: 0;
                    background-color: rgb(198, 198, 193);
                    transform: translateX(-40px);
                }

                .text {
                    margin: 0;
                    font-size: 14px;
                    height: fit-content;
                    color: #4C4A47;
                    background-color: rgb(198, 198, 193);
                    padding: 0 20px 20px 20px;
                    z-index: 1;
                    transform: translateX(-40px);
                }
            }

            &__img {
                width: 400px;
                height: 250px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: lightblue;
                background-blend-mode: multiply;
                background-image: url('../../assets/oldtown.jpg');
                clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);

            }
        }

        &--carousel {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: calc(80% + 110px);

            &--buttons {
                display: flex;
                flex-direction: row;
                color: #0E2841;
                padding: 0 0 20px 0;

                .highlighted {
                    border-bottom: 2px solid rgb(198, 198, 193);
                }

                .selector {
                    padding: 0 20px 0 5px;
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0;
                        padding: 5px 0;
                    }

                }

                .selector:hover {
                    border-radius: 5px;
                    cursor: pointer;
                    color: #4C4A47;
                    background-color: rgb(198, 198, 193);
                }
            }

            &--content {

                &--investment,
                &--asset,


                &--family {
                    background-color: rgb(198, 198, 193);
                    border-radius: 5px;
                    display: flex;
                    flex-direction: row;

                    &__img {
                        border-radius: 5px 0 0 5px;
                        min-width: 300px;
                        height: 200px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-blend-mode: multiply;

                    }

                    &__description {
                        .title {
                            color: #0E2841;
                            padding: 20px 20px;
                            font-size: 28px;
                        }

                        .text {
                            padding: 0 20px 20px 20px;
                            color: #4C4A47;
                            font-size: 14px;
                        }
                    }
                }

                &--investment {
                    &__img {
                        background-image: url('../../assets/wallcharts.jpg');
                    }
                }

                &--asset {
                    &__img {
                        background-image: url('../../assets/charts.jpg');
                    }
                }

                &--family {
                    &__img {
                        background-image: url('../../assets/fo.jpg');
                    }
                }

            }
        }

        &--risk {
            width: calc(80% + 50px);

            &__description {

                .title {
                    color: #0E2841;
                    font-size: 28px;
                }

                .text {
                    color: #4C4A47;
                    font-size: 14px;
                }

            }

        }
    }
}

@media (max-width: 450px) {
    .services__container {
        &--landing {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__description {
                .title {
                    // transform: translate(0px, -30px);

                }

                .text {
                    // transform: translate(0px, -30px);
                }
            }
        }

        &--carousel {
            width: 100%;

            &--content {

                &--investment,
                &--asset,
                &--family {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}