.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  width: calc(80% + 50px);
  gap: 20px;
}
.services__container--landing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.services__container--landing__description {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__container--landing__description .title {
  padding: 20px 20px;
  color: #0E2841;
  font-size: larger;
  margin: 0;
  background-color: #c6c6c1;
  transform: translateX(-40px);
}
.services__container--landing__description .text {
  margin: 0;
  font-size: 12px;
  height: fit-content;
  color: #4C4A47;
  background-color: #c6c6c1;
  padding: 0 20px 20px 20px;
  z-index: 1;
  transform: translateX(-40px);
}
.services__container--landing__img {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: lightblue;
  background-blend-mode: multiply;
  background-image: url("../../assets/oldtown.jpg");
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
}
.services__container--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: calc(80% + 50px);
  flex-wrap: wrap;
  gap: 20px;
}
.services__container--content--investment, .services__container--content--asset, .services__container--content--family {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  max-width: 400px;
  min-width: 350px;
}
.services__container--content--investment__img, .services__container--content--asset__img, .services__container--content--family__img {
  min-width: 350px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}
.services__container--content--investment__description, .services__container--content--asset__description, .services__container--content--family__description {
  max-width: 300px;
  min-height: 200px;
  background-color: #c6c6c1;
  transform: translate(-10px, -20px);
}
.services__container--content--investment__description .title, .services__container--content--asset__description .title, .services__container--content--family__description .title {
  color: #0E2841;
  background-color: #c6c6c1;
  padding: 20px 20px;
  font-size: larger;
}
.services__container--content--investment__description .text, .services__container--content--asset__description .text, .services__container--content--family__description .text {
  background-color: #c6c6c1;
  padding: 0 20px 20px 20px;
  color: #4C4A47;
  font-size: 12px;
}
.services__container--content--investment__img {
  background-image: url("../../assets/wallcharts.jpg");
}
.services__container--content--asset__img {
  background-image: url("../../assets/charts.jpg");
}
.services__container--content--family__img {
  background-color: #cbeffb;
  background-image: url("../../assets/fo.jpg");
}
.services__container--risk {
  width: 100%;
}
.services__container--risk__description .title {
  color: #0E2841;
  padding: 20px 20px;
  font-size: larger;
}
.services__container--risk__description .text {
  padding: 0 20px 20px 20px;
  color: #4C4A47;
  font-size: 12px;
}