.contact {
  width: 100%;
  max-width: 1300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contact .title {
  width: calc(80% + 50px);
  color: #0E2841;
  font-size: larger;
  margin: 5px 0;
}
.contact__container {
  width: 100%;
  gap: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__container--left, .contact__container--right {
  width: 40%;
  min-width: 330px;
}
.contact__container--left input, .contact__container--right input {
  width: 95%;
  border: none;
  border-bottom: 1px solid #0E2841;
  padding-left: 5px;
}
.contact__container--left input:focus, .contact__container--right input:focus {
  outline: none;
}
.contact__container--left__dropdown option,
.contact__container--left__dropdown select, .contact__container--right__dropdown option,
.contact__container--right__dropdown select {
  width: 80%;
  border: none;
  border-bottom: 1px solid #0E2841;
  color: #0E2841;
}
.contact__container--left__dropdown option:focus,
.contact__container--left__dropdown select:focus, .contact__container--right__dropdown option:focus,
.contact__container--right__dropdown select:focus {
  outline: none;
}
.contact__container--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__container--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__container--right__message .textarea-div {
  height: 73px;
}
.contact__container--right__message .textarea-div textarea {
  border: none;
  border-bottom: 1px solid #0E2841;
  margin: 0;
  width: 95%;
  padding: 0;
  resize: none;
}
.contact__container--right__message .textarea-div textarea:focus {
  outline: none;
}
.contact__container--right__submit {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}
.contact__container--right__submit button {
  background-color: #0E2841;
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
}
.contact__container--right__submit button:hover {
  background-color: #08406b;
}