@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.home {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--landing {
        .title {
            font-size: 50px;
            font-weight: 500;
            text-align: center;
        }

        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        min-height: 700px;
        background-image: url('../../assets/hk.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: lightblue;
        background-blend-mode: multiply;
    }

    &--offerings {
        width: 100%;
        height: 100%;
        min-height: 300px;
        max-width: 1300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        &__container {
            width: 40%;
            min-width: 300px;
            height: 25vh;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .img,
            .img2 {
                width: 100%;
                min-height: 200px;
                height: 120%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                z-index: 0;
                transform: translateY(30px);
            }

            &--description {
                z-index: 1;
                height: 100%;
                min-height: 130px;
                padding: 0 50px 0 20px;

                .title {
                    color: #0E2841;
                    font-size: larger;
                    padding: 10px 20px;
                    margin: 0;
                    background-color: rgb(198, 198, 193);
                    ;
                    ;

                }

                .content {
                    margin: 0;
                    background-color: rgb(198, 198, 193);
                    ;
                    ;
                    color: #4C4A47;
                    padding: 0 20px 0 20px;
                    font-size: 12px;
                }

                .link {
                    background-color: rgb(198, 198, 193);
                    ;
                    ;
                    color: #4C4A47;
                    margin: 0;
                    text-align: right;
                    padding: 0 20px 20px 20px;
                }

                a {
                    width: 100%;
                    background-color: rgb(198, 198, 193);
                    ;
                    ;
                    text-decoration: none;
                    color: #0E2841;
                }

                a:hover {
                    text-decoration: underline;
                }

            }
        }

        &__container {
            .img {
                background-image: url('../../assets/chart.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

            }

            .img2 {
                background-image: url('../../assets/securites.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    &--about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1300px;
        min-height: 300px;

        &__container {
            width: calc(80% + 50px);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .img {
                min-width: 300px;
                height: 200px;
                background-image: url('../../assets/united.jpg');
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 0;
                clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
            }

            &--description {
                display: flex;
                flex-direction: column;
                background-color: rgb(198, 198, 193);
                ;
                ;
                padding: 0 20px 20px 20px;
                z-index: 1;
                transform: translateX(-30px);

                .title {
                    padding: 10px 0;
                    color: #0E2841;
                    font-size: larger;
                    margin: 0;
                }

                .content {
                    margin: 0;
                    font-size: 12px;
                    color: #4C4A47;

                }

                .link {
                    background-color: rgb(198, 198, 193);
                    color: #4C4A47;
                    margin: 0;
                    text-align: right;

                    a {
                        width: 100%;
                        background-color: rgb(198, 198, 193);
                        text-decoration: none;
                        color: #0E2841;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media (max-width: 635px) {
        .home--about__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &--description {
                transform: translate(0px, -30px);
                // max-width: 420px;
            }

        }
    }
}