.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.header .header-logo {
  height: 50px;
}
.header .MuiSvgIcon-root {
  color: white;
}
.header--language {
  display: flex;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 55px;
}

.MuiList-root {
  background-color: #0E2841;
  padding: 0;
}
.MuiList-root .MuiTypography-root {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.menu-appbar {
  background-color: #0E2841;
  padding: 5px 10px;
}
.menu-appbar a {
  color: white;
  text-decoration: none;
}