.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left--menu {
  display: none;
}
.header__left--links a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
.header__left--links a:hover {
  color: #c6c6c1;
}
.header__left .header-logo {
  height: 50px;
}
.header__left .MuiSvgIcon-root {
  color: white;
}
.header__language {
  display: flex;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 55px;
}

.MuiPaper-root {
  border-radius: 0;
  background-color: #0E2841;
}
.MuiPaper-root .MuiList-root {
  background-color: #0E2841;
  padding: 0;
  width: 120px;
}
.MuiPaper-root .MuiList-root .MuiTypography-root {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.menu-appbar {
  background-color: #0E2841;
  padding: 5px 10px;
}
.menu-appbar a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .header__left--menu {
    margin-left: 40px;
    display: flex;
  }
  .header__left--links {
    display: none;
  }
}