.securities {
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: calc(80% + 50px);
        display: flex;
        justify-content: center;
        flex-direction: column;

        &--landing {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            &--title {
                font-size: 28px;
                color: #0E2841;
            }

            &--img {
                width: 350px;
                height: 220px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-blend-mode: multiply;
                clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
                background-image: url('../../assets/securites.jpg');
            }

        }

        &--description {
            padding: 20px 0;
            display: flex;
            align-items: center;
            flex-direction: column;

            .title {
                color: #0E2841;
                font-size: larger;
            }

            .content {
                display: flex;
                margin: 0;
                font-size: 14px;
                color: #4C4A47;
            }

            &__buttons {
                display: flex;
                flex-direction: row;

                .contactButton {
                    margin: 20px 20px 0 0;
                    color: white;
                    font-size: 13px;
                }
            }
        }
    }

}



@media (max-width: 451px) {
    .securities {

        &__container {

            &--landing {
                //         &--title {
                //         }

                &--img {
                    width: 330px;
                }

            }

            &--description {
                //         padding: 20px 0;
                //         display: flex;
                //         align-items: center;
                //         justify-content: center;
                //         flex-direction: column;

                //         .title {
                //             color: #0E2841;
                //             font-size: larger;
                //         }

                //         .content {
                //             display: flex;
                //             align-items: center;
                //             justify-content: center;
                //             margin: 0;
                //             font-size: 18px;
                //             color: #4C4A47;
                //             text-align: center;
                //         }

                //         .contactButton {
                //             margin-top: 20px;
                //         }
            }
        }

    }

}