.securities {
    display: flex;
    align-items: center;
    justify-content: center;
}
.securities__container {
    width: calc(80% + 50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.securities__container--landing {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.securities__container--landing--title {
    font-size: 34px;
    color: #0e2841;
}
.securities__container--landing--img {
    width: 350px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
    background-image: url("../../assets/securites.jpg");
}
.securities__container--description {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.securities__container--description .title {
    color: #0e2841;
    font-size: larger;
}
.securities__container--description .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 18px;
    color: #4c4a47;
    text-align: center;
}
.securities__container--description .contactButton {
    margin-top: 20px;
}
