.securities {
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: calc(80% + 50px);
        display: flex;
        justify-content: center;
        flex-direction: column;

        &--landing {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            &--title {
                font-size: 28px;
                color: #0E2841;
            }

            &--img {
                width: 350px;
                height: 220px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-blend-mode: multiply;
                clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
                background-image: url('../../assets/securites.jpg');
            }

        }

        &--description {
            padding: 20px 0;
            display: flex;
            align-items: center;
            flex-direction: column;

            .title {
                color: #0E2841;
                font-size: larger;
            }

            .content {
                display: flex;
                margin: 0;
                font-size: 14px;
                color: #4C4A47;
            }

            &__buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;

                .contactButton {
                    margin: 20px 0 0 0;
                    color: white;
                    font-size: 13px;
                }
            }
        }

        &--tech {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 28px;
                color: #0E2841;
            }

            .text {

                font-size: 14px;
                color: #4C4A47;
            }

            &__links {
                display: flex;

                gap: 20px;

                .row {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }
        }
    }

}



@media (max-width: 451px) {
    .securities {
        &__container {
            &--landing {
                &--img {
                    width: 330px;
                }
            }

            &--description {}
        }
    }
}

.download {
    width: 150px;
    height: 50px;

    a {
        text-decoration: none;

        button {
            border-radius: 25px;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-left: 20px;
            width: 100%;
            height: 100%;
            border: #0E2841 1px solid;
            background-color: rgb(198, 198, 193, 0.35);
            color: #0E2841;

            img {
                width: 25px;
                height: 30px;
                margin-right: 5px;
            }

            .download__text {
                color: #0E2841;
            }
        }

        button:hover {
            background-color: rgb(198, 198, 193, 0.75);
            border: none;
            cursor: pointer;
        }
    }
}