.securities {
  display: flex;
  align-items: center;
  justify-content: center;
}
.securities__container {
  width: calc(80% + 50px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.securities__container--landing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.securities__container--landing--title {
  font-size: 28px;
  color: #0E2841;
}
.securities__container--landing--img {
  width: 350px;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  background-image: url("../../assets/securites.jpg");
}
.securities__container--description {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.securities__container--description .title {
  color: #0E2841;
  font-size: larger;
}
.securities__container--description .content {
  display: flex;
  margin: 0;
  font-size: 14px;
  color: #4C4A47;
}
.securities__container--description__buttons {
  display: flex;
  flex-direction: row;
}
.securities__container--description__buttons .contactButton {
  margin: 20px 20px 0 0;
  color: white;
  font-size: 13px;
}

@media (max-width: 451px) {
  .securities__container--landing--img {
    width: 330px;
  }
}