.footer {
    width: 100%;
    height: 50px;
    background-color: rgb(198, 198, 193);
    ;
    color: #4C4A47;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}